body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #000000;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-bottom: 3px solid #3F0071;
}

.jumbotron .lead {
  color: grey;
}

#currentDay {
  font-size: 30px;
  color: #e6e6e6;
  padding: 0;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
  border-radius: 17px;
}

.hour {
  background-color: #150050;
  color: white;
  border-top: 1px dashed #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #191A19;
  color: white;
}

.present {
  background-color: #892CDC;
  color: white;
}

.future {
  background-color: #BC6FF1;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #150050;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
